.grillatienda {
  display: grid;
  width: 100%;
  height: 1280px;
  color: white;
  grid-template-columns: 250px repeat(1, auto);
  grid-template-rows: 100px 300px 300px 300px;
  grid-template-areas: "titulo titulo titulo"
 "categoria prod1 prod2"
 "categoria prod3 prod4"
 "categoria prod5 prod6"; }
  .grillatienda ol {
    text-decoration: none; }
  .grillatienda li {
    color: black; }

@media only screen and (min-width: 768px) {
  .grillatienda {
    grid-template-columns: 250px repeat(1, auto); } }

.grillacat {
  border-color: black;
  border-style: groove;
  text-decoration: none;
  color-font: black; }

.item.categoria {
  grid-area: categoria;
  color: black; }
  .item.categoria ol {
    text-decoration: none; }

.prod1 {
  height: 290px;
  color: black;
  background-color: white;
  grid-area: prod1;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-color: black;
  border-style: groove; }

.prod2 {
  height: 290px;
  color: black;
  background-color: white;
  grid-area: prod2;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-color: black;
  border-style: groove; }

.prod3 {
  height: 290px;
  color: black;
  background-color: white;
  grid-area: prod3;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-color: black;
  border-style: groove; }

.prod4 {
  height: 290px;
  color: black;
  background-color: white;
  grid-area: prod4;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-color: black;
  border-style: groove; }

.prod5 {
  height: 290px;
  color: black;
  background-color: white;
  grid-area: prod5;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-color: black;
  border-style: groove; }

.prod6 {
  height: 290px;
  color: black;
  background-color: white;
  grid-area: prod6;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-color: black;
  border-style: groove; }

#productosTitulo {
  background-color: black;
  color: white;
  grid-area: titulo; }

#tecladotienda {
  text-decoration: none;
  color: black;
  width: 100px;
  height: 30px; }

.borde {
  border: 3px black; }

#titproduc {
  margin-top: 15px; }

/*LOGIN*/

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin-top: 250px;
    margin-bottom: 250px;
    margin-left: 250px;
    margin-right:  250px;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);

}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #46A2FD;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}




.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}




/*GRILLA INDEX*/

.grillaindex {
  display: grid;
  width: 100%;
  height: 100%;
  color: white;
  grid-template-columns: 100%;
  background-image: linear-gradient(to bottom, #d4f6ff, #d4f6ff, #d4f6ff, black, black);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header"
 "botont"
 "exp"
 "footer"; }
  .grillaindex ol li {
    text-decoration: none; }

.grillaheader {
  grid-area: header; }

.grillabotont {
  grid-area: botont; }

.grillaexp {
  grid-area: exp; }

.grillafooter {
  grid-area: footer; }

@media only screen and (max-width: 768px) {
  .grillaindex {
    grid-template-columns: 250px repeat(1, auto); } }

@media only screen and (max-width: 600px) {
  .grillaindex {
    grid-template-columns: 250px repeat(1, auto); } }

#serviciostitular {
  text-align: center;
  color: #15009e;
  margin-top: 50px; }

#imagerep {
  height: 500px;
  width: 700px; }

#imagesoft {
  height: 500px;
  width: 700px; }

.serviciosiconos {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.reparacion, .software {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center; }

.serviciosiconos h3 {
  color: #15009e; }

.reparacion, .software {
  transition: all 2s;
  filter: blur(1px) grayscale(100%); }

.reparacion:hover {
  filter: blur(0) grayscale(0%); }

.software:hover {
  filter: blur(0) grayscale(0%); }

#redestit {
  color: #15009e; }

.logoscontacto2 {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-left: 50px;
  text-align: left;
  padding-left: 10px; }

.contactoconjunto2 {
  display: flex;
  flex-direction: row; }

.contactocontacto {
  margin-top: 50px; }

h2, h3 {
  color: white; }

#subx3 {
  color: #15009e;
  text-align: center; }

.prodest {
  color: white; }

.subtienda {
  text-decoration: none;
  color: white;
  font-size: 13px; }

.subserv {
  text-decoration: none;
  color: white;
  font-size: 13px; }

.subcuenta {
  text-decoration: none;
  color: white;
  font-size: 13px; }

table {
  border: 2px solid; }

li {
  color: white;
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 12px;
  width: 250px;
  height: 40px;
  text-decoration: none; }

ul {
  list-style-type: disc;
  list-style: none;
  font-size: 0;
  text-decoration: none;
  color: white;
  padding: 0; }

ul ul {
  position: absolute;
  display: none;
  text-decoration: none;
  color: white; }

ul ul li {
  text-decoration: none;
  color: white;
  width: 100%; }

ul li:hover ul {
  display: block;
  text-decoration: none;
  color: white; }

ul li:hover ul a:hover {
  display: block;
  text-decoration: none;
  font-size: 13px; }

table {
  display: table;
  margin: 0 auto; }

th {
  border: 0.5px solid;
  background-color: #d4f6ff; }

td {
  color: white; }

#menuindex a:hover {
  color: #2d54d6;
  text-decoration: none;
  font-weight: 200px;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px; }

.nav-item {
  background-color: black;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  display: block;
  color: white;
  padding: 10px;
  text-transform: uppercase; }

header {
  background-color: black;
  display: flex;
  flex-direction: row; }

body {
  font-family: 'Shippori Mincho B1', serif;
  background-color: #d4f6ff;
  height: 1280px; }

a:hover {
  text-decoration: none;
  background-color: #6baaf2; }

.imagenbutton {
  background-image: url("https://images.unsplash.com/photo-1567928513899-997d98489fbd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 100px;
  padding-top: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 2px black solid; }

button {
  border-radius: 50px;
  background-color: #d4f6ff;
  font-family: 'Shippori Mincho B1', serif;
  color: black; }

.logotipo {
  background-color: black; }

footer {
  font-style: italic;
  background-color: black;
  color: white;
  display: flex;
  margin: 70px auto;
  padding-top: 30px; }

.iconostitulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding-right: 285px;
  padding-left: 285px;
  margin: 70px auto;
  padding-bottom: 30px;
  padding-top: 30px; }

.historia h5 {
  text-align: center; }
  .historia h5 p {
    font-style: italic;
    width: 500px;
    height: 300px;
    border-right-width: 1px;
    border-right-style: solid; }

.historiap {
  text-align: center; }

.stock {
  height: 100px;
  margin-left: 100px;
  margin-right: 100px; }

.exper {
  height: 100px;
  margin-left: 100px;
  margin-right: 100px; }

.atencion {
  height: 100px;
  margin-left: 100px;
  margin-right: 100px; }

.facebookicon, .logoscontacto2 {
  width: 75px;
  height: 75px;
  padding-right: 30px;
  padding-left: 30px; }

.instagramicon, .logoscontacto2 {
  width: 75px;
  height: 75px;
  padding-right: 30px;
  padding-left: 30px; }

.whatsappicon, .logoscontacto2 {
  width: 75px;
  height: 75px;
  padding-right: 30px;
  padding-left: 30px; }

.logoscontacto1 {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-left: 50px;
  text-align: left;
  padding-left: 10px; }

.contactoconjunto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-right-width: 1px;
  border-right-style: solid;
  height: 300px; }

.formularioinicio {
  padding-left: 10px; }

/** CUENTA**/

#titsim{
  color: black;
}


/*#mensaje{
  display: none;
}/*