#redestit{

	color:#15009e;
}
.logoscontacto2{
	display: flex;
	flex-direction: row;
	margin-right: 50px;
	margin-left: 50px;
	text-align: left;
	padding-left: 10px;
}
.contactoconjunto2{
	display: flex;
	flex-direction: row;
}
.contactocontacto{
	margin-top: 50px;
	
}
