.grillaindex{
	ol{
		li{
			text-decoration: none;
		}
		
	}
	display: grid;
	width: 100%;
	height: 100%;
	color: white;
	grid-template-columns: 100%;
	background-image: linear-gradient(to bottom, #d4f6ff, #d4f6ff, #d4f6ff, black, black);
	grid-template-rows: repeat(4,auto);
	grid-template-areas:
	"header"
	"botont"
	"exp"
	"footer"; 
}

.grillaheader{
	grid-area: header;
}

.grillabotont{
	grid-area: botont;
}

.grillaexp{
	grid-area: exp;
}

.grillafooter{
	grid-area: footer;
}

@media only screen and (max-width: 768px) {
	.grillaindex{
		grid-template-columns: 250px repeat(1, auto);
		background: white;

	}
	
}

@media only screen and (max-width: 600px) {
	.grillaindex{
		grid-template-columns: 250px repeat(1, auto);
		background: red;
	}
	
}