
.grillatienda{
	ol{
		text-decoration: none;
	}

	li{
		color:black;
	}
	display: grid;
	width: 100%;
	height: 1280px;
	color: white;
	grid-template-columns: 250px repeat(1, auto);
	grid-template-rows: 100px 300px 300px 300px;
	grid-template-areas:
	"titulo titulo titulo"
	"categoria prod1 prod2"
	"categoria prod3 prod4"
	"categoria prod5 prod6"; 

}

@media only screen and (min-width: 768px) {
	.grillatienda{
		grid-template-columns: 250px repeat(1, auto);
	}
	
}

.grillacat{
	border-color: black;
	border-style: groove;
	text-decoration: none;
	color-font: black;
}

.item.categoria{
	grid-area: categoria;
	
	color: black;
	ol{
		text-decoration: none;
	}




}
.prod1{

	height: 290px;
	color:black;
	background-color: white;
	grid-area:prod1;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	border-color: black;
	border-style: groove;
}
.prod2{

	height: 290px;
	color:black;
	background-color: white;
	grid-area:prod2;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	border-color: black;
	border-style: groove;
}
.prod3{

	height: 290px;
	color:black;
	background-color: white;
	grid-area:prod3;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	border-color: black;
	border-style: groove;
}
.prod4{
	
	height: 290px;
	color:black;
	background-color: white;
	grid-area:prod4;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	border-color: black;
	border-style: groove;
}
.prod5{
	
	height: 290px;
	color:black;
	background-color: white;
	grid-area:prod5;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	border-color: black;
	border-style: groove;
}
.prod6{
	
	height: 290px;
	color:black;
	background-color: white;
	grid-area:prod6;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	border-color: black;
	border-style: groove;
}
#productosTitulo{
	background-color: black;
	color: white;
	grid-area: titulo;
}
#tecladotienda{
	text-decoration: none;
	color: black;
	width: 100px;
	height: 30px;
}

.borde{
	border: 3px black;
}

#titproduc{
	margin-top: 15px;
}

#titsim{
	color: black;
}
